<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block body_block %}
  <h1 class="display-4">Please Login:</h1>
  <h2 class="lead">(Must Be a superuser, please check with admin for issues.)</h2>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again!</p>
  {% endif %}
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
{% endblock %}
